################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo/v15
/Demo.Core/bin/Debug
/Demo.Core/obj/Debug
/Demo.Service
/Demo.Model
/Demo.Web/bin
/Demo.Web/obj/Debug
